/* Scrollbars */
::-webkit-scrollbar-thumb {border-color: transparent !important; background: rgba(0,0,0,0.4) !important;} 
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {border-color: transparent !important; background: transparent !important;} 
::-webkit-scrollbar-corner {display: none !important;}


/* Main background/TitleBar etc */

 /* Background */
.appMount-3VJmYg {background: var(--background) center/cover no-repeat}
/* Brightness */
.theme-dark .container-2lgZY8,.theme-dark .ui-standard-sidebar-view,.titleBar-AC4pGV::after {background-color: var(--light)} 
/* Titlebar layer */
.titleBar-AC4pGV::after {content:""; position:absolute; z-index:-1; top:0; left:0; right:0; width:100%; height:22px} 
/* Transparency */
.theme-dark .chat-3bRxxu,.theme-dark .guildsWrapper-5TJh6A,.theme-dark .layer-3QrUeG{background-color: transparent;}
.theme-dark .chat-3bRxxu>.content-yTz4x3, .theme-dark .chat-3bRxxu form, .flex-horizontal>.flex-spacer, 
.theme-dark .uploadModal-2ifh8j .footer-3mqk7D, .theme-dark  .uploadModal-2ifh8j, .theme-dark #friends, 
.theme-dark .activityFeed-28jde9, .theme-dark .footer-2yfCgX, .theme-dark .headerBar-UHpsPw, 
.theme-dark .channels-Ie2l6A, .theme-dark .container-PNkimc, .theme-dark .ui-standard-sidebar-view .sidebar-region, 
.theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .layers-3iHuyZ, .theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH, 
.theme-dark .chat-3bRxxu .content-yTz4x3, .theme-dark .members-1998pB, .theme-dark .title-3qD0b-, .theme-dark .scroller-2v3d_F, 
.theme-dark .header-2o-2hj, .theme-dark .container-2Thooq,.theme-dark .messagesWrapper-3lZDfY  {background: var(--trans) !important;background-color:var(--trans) !important}

/* Changes font size of user text, not including code. */
.markup-2BOw-j:not(code) {font-size: var(--font-size)!important;} 
/* Text colour */
.theme-dark .containerCozy-jafyvG .comment .markup-2BOw-j {color: var(--text)} 

.theme-dark .iconBadge-2dji3k {border-color: #fff}
.theme-dark .iconBadge-2dji3k:hover {border-color: #eee}

.wordmark-2iDDfm svg > path {fill:#fff}
.winButtonClose-1HsbF- > svg > polygon  {fill:#fff}
.winButtonMinMax-PBQ2gm > svg > rect {stroke:#fff}
.winButton-iRh8-Z {opacity: 1}
.theme-dark .iconForeground-3y9f0B, .theme-dark .title-1aVOXw {color: #fff}
.theme-dark .title-3qD0b- {box-shadow:0 0 0 transparent}
.theme-dark .backdrop-1wrmKB {opacity: .3 !important}

input{background: #f6f6f6}
body,span:not(.spinner-item){-webkit-font-smoothing:optimizeLegibility !important;-webkit-backface-visibility:hidden;}
body,h1,h2,h3,h4,h5,h6 {color: #fff);font-family:var(--font);text-rendering: optimizeLegibility !important; font-smoothing: antialiased !important}
.theme-dark ::selection {background: #000;color:rgba(255, 0, 0, .8)}
.theme-dark ::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.8) !important}

/* Chat Area */
/* User Name */
.username-_4ZSMR, .usernameWrapper-1S-G5O .username-_4ZSMR {font-weight: 600;background:rgba(0, 0, 0, 0.3);border-radius:10%} 
.theme-dark .timestampCozy-2hLAPV {color: #fff}
/* Chat box */
.theme-dark .inner-zqa7da {background-color: hsla(0, 0%, 0%, 0.6);box-shadow: 0 0 3px 1px hsl(284, 100%, 50%) } 
/* Guilds */
.theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH svg.homeIcon-1FoKUJ{background: var(https://rawgit.com/Endlesszombiez/ThemeDiscord/master/Icons/KroosinIcon.svg) no-repeat center/cover}
.theme-dark .guildSeparator-1X4GQ1:after{display:none}
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {color:#fff}

/* Channels */
.private-channels .channel .channel-name {opacity:1}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H,
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {color: #fff} 
